body {
  margin: 0px;
}

button {
  cursor: pointer;
}

.sign-in {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.sign-in-button {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 24px;
  border-radius: 100px;
  border: none;
  margin-top: 100px;
}

.portfolio-button {
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 100px;
  border: none;
  color: white;
  background-color: black;
  position: fixed;
  bottom: 16px;
}

.spinner {
  width: 40px;
  height: 40px;
  fill: var(--md-sys-color-primary-light);
  margin-top: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.home {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-top: 16px;
}

.horizontal-line {
  width: 358px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-panel {
  width: 342px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 36px;
  border: 1px solid var(--md-sys-color-outline-light);
  border-radius: 12px;
}

.contacts-tabs {
  width: 310px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  cursor: pointer;
}

.contacts-tabs svg {
  margin-right: 8px;
  fill: var(--md-sys-color-on-secondary-container-light);
}

.contacts-title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid var(--md-sys-color-outline-light);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.add-new-title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid var(--md-sys-color-outline-light);
  border-left: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

@media (prefers-color-scheme: dark) {
  .portfolio-button {
    color: black;
    background-color: white;
  }

  .spinner {
    fill: var(--md-sys-color-primary-dark);
  }

  .contacts-panel {
    border: 1px solid var(--md-sys-color-outline-dark);
  }

  .contacts-title {
    border: 1px solid var(--md-sys-color-outline-dark);
  }

  .add-new-title {
    border: 1px solid var(--md-sys-color-outline-dark);
  }

  .contacts-tabs svg {
    fill: var(--md-sys-color-on-secondary-container-dark);
  }
}